.header {
  width: 660px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.header .logout {
  right: 240px;
  position: relative;
  color: #2582FF;
  cursor: pointer;
  font-size: 14px;
  top: 2px;
}

.header .logo {
  position: relative;
  bottom: 1px;
  left: 2px;
}

@media screen and (max-width: 690px) {

  .header {
    width: 91%;
  }
}
