.profile {
  width: 660px;
  margin: 0 auto;
}

.account-info {
  min-width: 165px;
  float: left;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(26, 40, 60, 0.14);
  border-radius: 10px;
  padding: 33px;
}

.account-info-image {
  width: 58px;
  height: 58px;
  background: grey;
  box-sizing: border-box;
  border-radius: 50px;
  display: inline-block;
}

.account-info-username {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  display: inline-block;
  float: right;
  margin-right: 35px;
}

.account-info-bio {
  font-size: 12px;
  line-height: 14px;
}

.account-info-sub li {
  font-size: 12px;
  line-height: 14px;
  color: #7E8B9C;
}

.post-actions {
  width: 392px;
  float: right;
}

.create-post {
  max-width: 392px;
  max-height: 87px;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(26, 40, 60, 0.14);
  border-radius: 10px;
  padding: 24px;
}

.create-post-image {
  width: 40px;
  height: 40px;
  background: grey;
  display: inline-block;
  border-radius: 50px;
  vertical-align: middle;
}

.create-post button {
  width: 69.75px;
  height: 30px;
  background: #2582FF;
  border-radius: 55px;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.feed {
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(26, 40, 60, 0.14);
  border-radius: 10px;
  margin-top: 20px;
}

.post {
  min-height: 93px;
  border-bottom: 1px solid rgba(126, 139, 156, 0.24);
}

.user-post-info {
  height: 32px;
  left: 25px;
  top: 25px;
  position: relative;
}

.user-post-image {
  width: 32px;
  height: 32px;
  background: grey;
  border-radius: 50px;
}

.user-post-details {
  position: relative;
  left: 45px;
  bottom: 50px;
}

.user-post-username {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
.user-post-date {
  position: relative;
  bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  color:  #7E8B9C;
}

.post-content {
  margin: 40px 0px 30px 26px;
  font-size: 16px;
  line-height: 19px;
}
